html,body
{
	height:100%;
	background:url('https://images.unsplash.com/photo-1595211908580-f9516713038c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
	background-size: cover;
	background-position: center;
}
.jumbotron
{
	margin-top: 50px;
	background: #ffb347;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1
{
	color: Blue;
	text-shadow: 0px 4px 8px red,
	0px 8px 15px yellow;
}